/**
  * @name Dark+
  * @author DevEvil
  * @version Dark+5
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @donate https://devevil.com/dnt
  * @invite jsQ9UP7kCA
*/

@import url('https://raw.githubusercontent.com/Tioncheat/DarkPlus-Discord-Theme/refs/heads/main/css');

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #f2021a;
  --darkplus-links: #02f23e;
  --darkplus-home-icon: url(https://i.postimg.cc/sgvTrdnd/pfp.png);
}
